body{
    background-image: linear-gradient(#151e39 100%,#745768) ;
    background-size:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: Helvetica, sans-serif;
    margin: 2rem 0;
    padding-top: 5%;
}
/* .disclaimer{
    font-size: 14px;
    text-align: center;
    padding: 0 1rem;
    font-weight: 100;
} */
/* .page{
    height:100vh;
} */
.page-name{
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    margin:0 1rem 0.5rem;
    color: #fff;
}

img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        border: 0;
        margin:0;   

}

input {
	appearance: none;
	border-radius: 0;
}

.card {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #151e39;
	/* border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25); */
	padding: 1rem;
}


.card-heading {
	position: absolute;
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
	
}
.card-form {
	padding: 0 1rem;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
    color: #fff;
    margin-top :1.5rem;
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;

	
}
.input-field:focus, .input-field:valid {
    outline: 0;
    border-bottom-color: #6658d3;
}
.input-field:focus.input-label, .input-field:valid.input-label {
    color: #6658d3;
}
.action {
	margin-top: 2rem;
}

.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;
}

.card-info a {
    display: block;
    color: #6658d3;
    text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card{
        max-width: 300px;
    }
    .page-name{
        font-size: 24px;
    }

    .card-info{
        padding:5px;
        font-size: 12px;
    }
    
}
@media only screen and (min-width: 600px){
    img{
        margin-top: 40%;
        transform: scale(0.6);
    }
    .card{
        max-width: 480px;
    }
}

.button{
    position: relative;
    background-color: black;
    border-radius: 4em;
    font-size: 16px;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  }
  
  .button:hover {
    transition-duration: 0.1s;
    background-color: #745768d7;
  }
  
  .button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 5px 20px #151e39;
  }
  
  .button:active:after {
    box-shadow: 0 0 0 0 #745768;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  .button:focus{
      outline:0;
  }
  .button:active {
    top: 1px;
  }
  
.action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1rem;
	width: 100%;
	font-weight: 500;
	background-color: #745768;
	border-radius: 10px;
	color: #FFF;
	border: 0;
}
