@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #242333;
  background-size:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
}
.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 0.75em 1.5em;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--pan {
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	border: 1px solid #000;
	border-radius: 2.5rem;
	overflow: hidden;
	color: #fff;
}

.button--pan span {
  font-size: 15px;
	position: relative;
	mix-blend-mode: difference;
}

.button--pan::before {
	content: '';
	background: #121732;
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--pan:hover::before {
	transform: translate3d(0,-100%,0);
}

.movie-container{
  display:none;
}
.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.screen{
  color:#000;
  text-align: center;
  padding-top: 2px;
}
.seat{
  background-color:#fff;
}
.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #aca5a1;
}
p.text{
  color:#000;
}
p.text span {
  color: #000;
}

.purchase_btn{
  cursor:pointer;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .movie-container {
    margin: 6px 0;
  }
  
  .movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 10px;
    margin-left: 5px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .container {
    perspective: 500px;
    margin-bottom: 10px;
  }
  
  
  .seat {
    height: 6px;
    width: 8px;
    margin: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }  
  
  .seat:nth-of-type(2) {
    margin-right: 6px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 6px;
  }
  
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  .seat.invi{
    opacity: 0;
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
  
  .showcase li small {
    margin-left: 2px;
  }
  
  .row {
    display: flex;
  }
  
  .screen {
    background-color: #fff;
    height: 20px;
    width: 100%;
    margin: 8px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }
  
  p.text {
    margin: 5px 0;
    font-size: 10px;
  }
  
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
.movie-container {
  margin: 10px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 10px;
  margin-left: 6px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 450px;
  margin-bottom: 14px;
}


.seat {
  height: 6px;
  width: 8px;
  margin: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.seat:nth-of-type(2) {
  margin-right: 10px;
}

.seat:nth-last-of-type(2) {
  margin-left: 10px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}
.seat.invi{
  opacity: 0;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 34px;
  width: 100%;
  margin: 12px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
  font-size: 10px;
}


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .movie-container {
    margin: 12px 0;
  }
  
  .movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 8px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .container {
    perspective: 600px;
    margin-bottom: 18px;
  }
  
  
  .seat {
    height: 8px;
    width: 10px;
    margin: 3px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .seat:nth-of-type(2) {
    margin-right: 12px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 12px;
  }
  
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  .seat.invi{
    opacity: 0;
  }

  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
  }
  
  .showcase li small {
    margin-left: 2px;
  }
  
  .row {
    display: flex;
  }
  
  .screen {
    background-color: #fff;
    height: 44px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }
  
  p.text {
    margin: 5px 0;
    font-size: 12px;
  }
  

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
    height: 100vh;
    /* background: url("/img/VNDC.png") no-repeat 0 0; */
    background: url("/img/VNDC_992.png") no-repeat 0 0;
    background-size: 100% 100%;
    background-position:center center;
  }
  .movie-container {
    margin: 16px 0;
  }
  
  .movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 8px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .container {
    perspective: 800px;
    margin-bottom: 24px;
  }
  
  
  .seat {
    height: 10px;
    width: 12px;
    margin: 3px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .seat:nth-of-type(2) {
    margin-right: 14px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 14px;
  }
  
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  .seat.invi{
    opacity: 0;
    pointer-events: none;
  }

  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
  }
  
  .showcase li small {
    margin-left: 2px;
  }
  
  .row {
    display: flex;
  }
  
  .screen {
    background-color: #fff;
    height: 25px;
    width: 100%;
    margin: 40px 0 18px;
    transform: rotateX(45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }
  
  p.text {
    margin: 5px 0;
    font-size: 12px;
  }
  

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    height: 100vh;
    /* background: url("/img/VNDC.png") no-repeat 0 0; */
    background: url("/img/VNDC_1200.png") no-repeat 0 0;
    background-size: 100% 100%;
    background-position:center center;
  }
  .showcase{
    transform: translateY(10px);
  }
  .movie-container {
    margin: 10px 0;
    margin-top: 40px;
  }
  
  .movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .container {
    perspective: 1000px;
    margin-bottom: 30px;
  }
  
  
  .seat {
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .seat:nth-of-type(2) {
    margin-right: 18px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 18px;
  }
  
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  .seat.invi{
    pointer-events: none;
    opacity: 0;
  }

  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  
  .showcase li small {
    margin-left: 2px;
  }
  
  .row {
    display: flex;
  }
  
  .screen {
    background-color: #fff;
    height: 45px;
    width: 100%;
    margin: 10px 0 17px;
    transform: rotateX(45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }
  
  p.text {
    margin: 5px 0;
    font-size: 18px;
  }
  .purchase_btn{
    transform: translateX(-5px);
  }
}


/* Trial */





