<link rel="stylesheet" href="../static/confirmation.css">
<figure class="movie">
    <div class="movie__hero">
        <img src="../static/media/VNDC.png" alt="VNDC" class="movie__img">
    </div>
    <div class="movie__content">
        <div class="movie__title">
            <h1 class="heading__primary">VNDC - Wanderlust <i class="fas fa-fire"></i></h1>
            <div class="movie__tag movie__tag--1">#drama</div>
            <div class="movie__tag movie__tag--2">#fantasy</div>
        </div>
        <p class="movie__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rerum eos totam commodi voluptate
            quam maxime, ipsa voluptates, saepe tempora sed sunt. Est earum in iste iure doloribus vero soluta.
        </p>
        <a href="/">Click here to go to homepage</a>
        <div class="movie__details">
            <p class="movie__detail"><span class="icons icons-red"><i class="fas fa-camera-retro"></i> </span>VNNTU</p>
            <p class="movie__detail"><span class="icons icons-grey"><i class="fas fa-clock"></i> </span>Duration: 19:00
                - 21:30</p>
            <p class="movie__detail"><span class="icons icons-yellow"><i class="fas fa-file-invoice-dollar"></i>
                </span>29/1/2022</p>
        </div>
    </div>
    <div class="movie__price">FREE</div>
</figure>