<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Xin chào {{first_name | title}},</p>
    </div>
    <div>
        Cảm ơn bạn đã đặt vé cho buổi công chiếu {{movie_title}} - Wanderlust. Dưới đây là thông tin chi tiết buổi công chiếu:
        <ul>
            <li>Số ghế của bạn: <b>{{seat_no}}</b></li>
            <li>Giờ chiếu: <u>19:00 29/01/2022</u></li>
            <li>Địa chỉ: <b> Drama Center Black Box, National Library, Singapore 178957</b></li>
        </ul>
    </div>

    <div>
        Chúng mình hy vọng rằng các bạn sẽ dành chút thời gian đến tham dự đúng giờ và đầy đủ với chúng mình, để cùng nhau thưởng thức 2 tiết mục kịch đặc sắc của năm nay. Các bạn diễn viên đáng yêu năm nay đã chuẩn bị rất chăm chỉ đó!
        <br> <br>
        Trong trường hợp không thể đến,mong bạn hãy liên hệ Fanpage VNNTU để hủy nhé.
        <br> <br>
        Trân trọng cảm ơn!
        <br>
    </div>
    <div>
        Hồ Phi Dũng, <br>
        Honorary General Secretary - VNNTU XXI
    </div>
    <div>
        <br>
        ------------------------- <br>
        Mọi thắc mắc xin gửi đến: <br>
        Facebook page: <a href="https://www.facebook.com/vnntu">https://www.facebook.com/vnntu</a> <br>
        Email: <a href=" vnntu.xxi@gmail.com"> vnntu.xxi@gmail.com</a>
    </div>
</body>
</html>

