<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VNDC confirmation</title>
</head>

<body>
    <h3>
        Xin chào {{first_name | title}},
    </h3>
    <p>
        Cảm ơn bạn đã đặt vé cho buổi công chiếu <i>{{movie_title}} - Wanderlust</i> .
        <br>
        Dưới đây là thông tin chi tiết buổi công chiếu:
    <p>
        Số ghế của bạn: <b>{{seat_no}}</b><br>
        Giờ chiếu: <b>19:00 29/01/2022 </b> <br>
        Địa chỉ: <b> Drama Center Black Box</b>
    </p>
    </p>

    <div>
        Chúng mình hy vọng rằng các bạn sẽ dành chút thời gian đến tham dự đúng giờ và đầy đủ với chúng mình, để cùng
        nhau thưởng thức 2 tiết mục kịch đặc sắc của năm nay. Các bạn diễn viên đáng yêu năm nay đã chuẩn bị rất chăm
        chỉ đó!

        Trong trường hợp không thể đến,mong bạn hãy liên hệ <a href="https://www.facebook.com/vnntu">Fanpage VNNTU</a>
        để hủy nhé. <br>

        Trân trọng cảm ơn! <br>
    </div>
    <br>
    <div>
        Hồ Phi Dũng, <br>
        Honorary General Secretary - VNNTU XXI
    </div>

    <nav>
        ------------------------- <br> <br>
        Mọi thắc mắc xin gửi đến: <br>
        Facebook page: https://www.facebook.com/vnntu <br>
        Email: vnntu.xxi@gmail.com
    </nav>

</body>

</html>