<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="../static/form.css" />
    <title>Confirmation of VNDC Ticket - VNNTU</title>
</head>

<body class="page-container">
    <div id="payment-page-pay" class="page">
        <img id="company-logo-img" src="../static/media/VNNTU_logo.png" width="100px" height="30px" alt="VNNTU Logo">
        <div class="card">
            <div class="page-info">
                <h3 id="page-name" class="page-name">VNDC2022 Wanderlust</h3>
            </div>

            <form id="payment-form" name="payment-form" class="card-form" method="post">
                <div class="container">
                    <div class="input">
                        <label for="customer-last-name" class="input-label"><span>Bạn là: (NTU UG/NTU Alumnus/Others) ?</span></label>
                        <input name="last_name" id="customer-last-name" type="text" class="input-field"
                            data-validetta="required" required="">
                    </div>
                    <div class="input">
                        <label for="customer-first-name" class="input-label"><span>Họ và Tên</span></label>
                        <input name="first_name" id="customer-first-name" type="text" class="input-field"
                            data-validetta="required" required="">
                    </div>
                    <div class="input">
                        <label for="customer-phone-number" class="input-label"><span>Số điện thoại</span></label>
                        <input name="phone_number" id="customer-phone-number" type="text" class="input-field"
                            data-validetta="required" required="">
                    </div>
                    <div class="input">
                        <label for="customer-email" class="input-label"><span>Email</span></label>
                        <input name="email" id="customer-email" type="email" class="input-field"
                            data-validetta="required,email" required="">
                    </div>
                </div>
                <input type="hidden" id="referrer" name="referrer" value="{{ referrer }}">

                <div class="action">
                    <button type="submit" id="pay-btn" class="button action-button">Confirm</button>
                </div>
            </form>
            <div class="card-info">
                <!-- <p>Please contact us at <a href="https://www.facebook.com/vnntu">VNNTU Page</a> if you want cancel your
                    seat</p> -->
                <p>Vì số lượng chỗ ngồi có hạn,
                    mong bạn chắc chắn sẽ tham dự buổi kịch trước khi
                    đặt vé</p>
            </div>
        </div>
    </div>

</body>

</html>